<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>To-Do List</title>
  <link rel="stylesheet" href="css/styles.css">
</head>
<body>
<div class="container">
  <h1>Тапшырмалар тизмеси</h1>

  <!-- Жаңы форма түзүү үчүн форма-->
  <form action="/tasks" method="post" class="add-task-form">
    <input type="text" name="title" placeholder="Жаңы тапшырманы кириңиз" required>
    <button type="submit">Кошуу</button>
  </form>

  <!-- Тапшырмалар тизмеси -->
  <table class="task-table">
    <thead>
    <tr>
      <th>Тапшырма</th>
      <th>Статус</th>
      <th>Өзгөртүү</th>
      <th>Өчүрүү</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="task : ${tasks}">
      <td th:text="${task.title}"></td>
      <td>
        <!-- Тапшырмалардын аткарылып/аткарылбагандыгын белгилөө үчүн галочка -->
        <form th:action="@{/tasks/{id}/toggle-completion(id=${task.id})}" method="post">
          <input type="checkbox" th:checked="${task.completed}" onchange="this.form.submit()">
        </form>
      </td>
      <td>
        <!-- Тапшырмаларды өзгөртүү үчүн кнопка -->
        <form th:action="@{/tasks/{id}/edit(id=${task.id})}" method="get">
          <button class="edit-btn" type="submit">Өзгөртүү</button>
        </form>
      </td>
      <td>
        <!-- Тапшырмаларды өчүрүү үчүн кнопка -->
        <form th:action="@{/tasks/{id}/delete(id=${task.id})}" method="post">
          <button class="delete-btn" type="submit">Өчүрүү</button>
        </form>
      </td>
    </tr>
    </tbody>
  </table>
</div>
</body>
</html>