<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Тапшырмаларды өзгөртүү</title>
  <link rel="stylesheet" th:href="@{/css/styles1.css}">
</head>
<body>
<div class="task-edit-container">
  <h2>Тапшырмаларды өзгөртүү</h2>

  <form th:action="@{/tasks/{id}/edit(id=${task.id})}" method="post">
    <label for="title">Тапшырмалардын аталыштары:</label>
    <input type="text" id="title" name="title" th:value="${task.title}" required>

    <div class="buttons">
      <button type="submit" class="save-btn">Сактоо</button>
      <a th:href="@{/tasks}" class="cancel-btn">Баш тартуу</a>
    </div>
  </form>
</div>
</body>
</html>