<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>To-Do List</title>
  <link rel="stylesheet" href="css/styles.css">
</head>
<body>
<div class="container">
  <h1>Список задач</h1>

  <!-- Форма для добавления новой задачи -->
  <form action="/tasks" method="post" class="add-task-form">
    <input type="text" name="title" placeholder="Введите новую задачу" required>
    <button type="submit">Добавить</button>
  </form>

  <!-- Таблица задач -->
  <table class="task-table">
    <thead>
    <tr>
      <th>Задача</th>
      <th>Статус</th>
      <th>Изменеие</th>
      <th>Удаление</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="task : ${tasks}">
      <td th:text="${task.title}"></td>
      <td>
        <!-- Галочка для отметки выполнения/снятия отметки -->
        <form th:action="@{/tasks/{id}/toggle-completion(id=${task.id})}" method="post">
          <input type="checkbox" th:checked="${task.completed}" onchange="this.form.submit()">
        </form>
      </td>
      <td>
        <!-- Кнопка для редактирования задачи -->
        <form th:action="@{/tasks/{id}/edit(id=${task.id})}" method="get">
          <button class="edit-btn" type="submit">Изменить</button>
        </form>
      </td>
      <td>
        <!-- Кнопка для удаления задачи -->
        <form th:action="@{/tasks/{id}/delete(id=${task.id})}" method="post">
          <button class="delete-btn" type="submit">Удалить</button>
        </form>
      </td>
    </tr>
    </tbody>
  </table>
</div>
</body>
</html>